@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fbfc;
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: #00bfa6;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: transform 0.3s ease;
}


img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}

.section-title {
  font-weight: 700;
  color: #007bff;
  margin-bottom: 1rem;
}

.card:hover {
  background-color: #e6f7f6;
  transform: scale(1.02);
}